.button {
  border: none;
  height: 80px;
  width: 75px;
  position: absolute;

  background-color: transparent;
  background-image: url(/images/button.png);
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;
  transition: 300ms;

  &:hover {
    filter: hue-rotate(15deg);
  }

  &__text {
    position: absolute;
    width: inherit;
    top: 17px;
    left: -55px;
  
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: rotate(-90deg);
  }

  @media screen and (max-width: 1600px) {
    height: 70px;
    width: 65px;

    &__text {
      left: -45px;
      font-size: 10px;
    }
  }
}

