.colorful-buttons {
  &__1,
  &__2,
  &__3,
  &__4,
  &__5 {
    width: 20px;
    height: 20px;
    margin-left: 28px;

    border: 2px solid transparent;
    border-radius: 50%;

    cursor: pointer;
    transition: 300ms;

    &:hover {
      border-color: black;
    }
  }

  &__1{
    background-color: #e2e837,
  }

  &__2{
    background-color: #00b6f1,
  }

  &__3{
    background-color: #e23232,
  }

  &__4{
    background-color: #f0efef,
  }

  &__5 {
    margin-right: 25px;
    background-color: #0c0c0c,
  }

  @media screen and (max-width: 900px) {
    &__1,
    &__2,
    &__3,
    &__4,
    &__5 {
      width: 20px;
      height: 20px;
      margin-left: 15px;
      }
    
    &__5 {
      margin-right: 60px;
    }
  }
}