// @font-face {
//   font-family: 'Roboto';
//   src: url("/fonts/roboto/Roboto.ttf") format('ttf'),
//        url("/fonts/roboto/Roboto.woff") format('woff'),
//        url("/fonts/roboto/Roboto.woff2") format('woff2');
// }

@font-face {
  font-family: 'Roboto Bold';
  src: url("/fonts/roboto/Robotobold.ttf") format('ttf'),
       url("/fonts/roboto/Robotobold.woff") format('woff'),
       url("/fonts/roboto/Robotobold.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto Light';
  src: url("/fonts/roboto/Robotolight.ttf") format('ttf'),
       url("/fonts/roboto/Robotolight.woff") format('woff'),
       url("/fonts/roboto/Robotolight.woff2") format('woff2');
}

@font-face {
  font-family: 'Rubik Mono One';
  src: url("/fonts/rubikmono/rubikmonooneregular.ttf") format('ttf'),
       url("/fonts/rubikmono/rubikmonooneregular.woff") format('woff'),
       url("/fonts/rubikmono/rubikmonooneregular.woff2") format('woff2');
}