.product {
  height: 1000px;
  position: relative;
  display: flex;

  &__media {
    width: 745px;
    height: 750px;
    margin-right: 100px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__title {
    margin: 90px 0;

    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: #3a30f8;
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    max-width: fit-content;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__image-hoverboard {
    width: 390px;
    height: 300px;

    object-fit: contain;
  }

}