.property {
  max-width: 268px;

  &__title {
    font-family: 'Rubik Mono One', Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
  }

  &__text {
    margin: 25px 0;
    font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
  }

  &__text-bold {
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
  }

  &__list .property__item:last-child {
    margin-bottom: 0;
  }

  &__item {
    margin-bottom: 25px;
    padding-left: 43px;

    position: relative;
    font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.5;
    list-style: none;

    &::after {
      content: "";
      width: 24px;
      position: absolute;
      top: 10px;
      left: 0;
      border: 3px solid black;
    }
  }

  @media screen and (max-width: 700px) {
    max-width: 280px;

    &__title {
      font-size: 20px;
    }

    &__text {
      margin: 10px 0;
      font-size: 15px;
    }

    &__item {
      margin-bottom: 10px;
      font-size: 15px;

      &::after {
        content: "";
        width: 15px;
        top: 10px;
        left: 10px;
        border: 2px solid black;
      }
    }
  }
}